.hero__content {
  padding-top: 70px;
}
.hero__title {
  font-size: 2.5rem;
  line-height: 55px;
}
.hero__title span {
  color: #df2020;
}
.hero__content p {
  font-size: 1rem;
  line-height: 30px;
  color: #777;
}
.hero__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.order__btn {
  background: #df2020;
  color: #fff;
  transition: 0.3s;
}
.order__btn:hover {
  background: #212245;
}
.all__foods-btn {
  background: transparent;
  border: 1px solid #df2020 !important;
}
.all__foods-btn a {
  color: #df2020;
}
.hero__service p {
  color: #212245;
  font-weight: 600;
  font-size: 0.9rem;
}
.shipping__icon i {
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius: 50%;
  font-weight: 500 !important;
}
.feature__subtitle {
  color: #df2020;
}
.feature__title span {
  color: #df2020;
}
.feature__text {
  color: #777;
}
.feature__item p {
  color: #777;
}
.food__category {
  background: #df2020;
  text-align: center;
  margin-top: 30px;
  padding: 20px 0px;
  border-radius: 8px;
}
.food__category button {
  border: none;
  outline: none;
  padding: 7px 20px;
  background: transparent;
  color: #fff;
}
.food__category button img {
  width: 20px;
  height: 20px;
}
.foodBtnActive {
  background: #fff !important;
  border-radius: 5px;
  color: #df2020 !important;
}
.tasty__treat-title span {
  color: #df2020;
}
.tasty__treat-desc {
  color: #777;
  line-height: 28px;
}
.choose__us-title {
  font-weight: 600;
  margin-bottom: 10px;
}
.choose__us-title i {
  font-weight: 500 !important;
  color: #df2020;
}
.choose__us-desc {
  color: #777;
}
.testimonial__subtitle {
  color: #df2020;
}
.testimonial__title span {
  color: #df2020;
}
.testimonial__desc {
  color: #777;
  line-height: 30px;
}
@media only screen and (max-width: 768px) {
  .hero__content h5 {
    font-size: 1rem;
  }
  .hero__content p {
    font-size: 0.8rem;
    line-height: 25px;
  }
  .hero__title {
    font-size: 1.5rem;
    line-height: 40px;
  }
  .hero__btns button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
  .hero__service p {
    font-size: 0.7rem !important;
  }
  .feature__item h5 {
    font-size: 0.9rem;
  }
  .feature__item p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .feature__subtitle {
    font-size: 1rem;
  }
  .feature__text {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .food__category {
    padding: 15px;
  }
  .food__category button {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
  .tasty__treat-desc {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .choose__us-title {
    font-size: 0.8rem;
  }
  .choose__us-desc {
    font-size: 0.7rem;
  }
  .testimonial__subtitle {
    font-size: 1rem;
  }
  .testimonial__desc {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero__content {
    text-align: center;
  }
  .hero__btns {
    justify-content: center;
  }
  .hero__service {
    justify-content: center;
  }
  .why__choose-us {
    padding-top: 0 !important;
  }
}

/* category section  */

.category__item {
  background: #fde4e4;
  padding: 30px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.category__item:hover {
  transform: translateY(-15px);
}
@media only screen and (max-width: 768px) {
  .category__item {
    padding: 20px 15px;
  }
  .category__img img {
    width: 40px;
    height: 40px;
  }
  .category__item h6 {
    font-size: 0.8rem;
  }
}

/* product card css  */

.product__item {
  border: 2px solid #fde4e4;
  text-align: center;
  padding: 30px;
  cursor: pointer;
}
.product__img {
  margin-bottom: 20px;
  transition: 0.4s;
}
.product__img:hover {
  transform: scale(1.2);
}
.product__content h5 a {
  color: #212245;
  font-size: 1rem;
}
.product__content h5 {
  margin-bottom: 30px;
}
.product__price {
  font-weight: 600;
  font-size: 1.2rem;
  color: #df2020;
}
.addtocart__btn {
  border: none;
  padding: 7px 25px;
  background: #df2020;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  transition-duration: 0.5s;
}
.addtocart__btn:hover {
  background-color: #212245;
  color: #fff;
}
@media only screen and (max-width: 992px) {
  .product__content h5 a {
    font-size: 0.8rem;
  }
  .product__item {
    padding: 20px;
  }
  .addtocart__btn {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}

/* Slider */
.review__text {
  color: #777;
  line-height: 30px;
  margin: 40px 0px;
}
.slider__content img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .review__text {
    font-size: 0.8rem;
    margin: 20px 0px;
  }
  .slider__content img {
    width: 35px;
    height: 35px;
  }
  .slider__content h6 {
    font-size: 0.8rem;
  }
}

/* Carts Offcanvas */

.cart__item-info img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.cart__product-title {
  font-size: 0.8rem;
  font-weight: 600;
}
.cart__product-price {
  font-size: 0.8rem;
}
.cart__product-price span {
  font-size: 0.9rem;
  font-weight: 600;
  color: #df2020;
}
.increase__decrease-btn {
  background: #fde4e4;
  padding: 2px 5px;
  border-radius: 5px;
}
.increase__btn,
.decrease__btn {
  cursor: pointer;
}
.delete__btn {
  font-size: 1.1rem;
  font-weight: 600;
}
.cart__item {
  margin-bottom: 15px;
  border-bottom: 1px solid #fde4e4;
}
@media only screen and (max-width: 576px) {
  .delete__btn {
    font-size: 1rem;
  }
}

/* shoping cart */

.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.639);
  z-index: 99999;
}
.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  z-index: 999999;
}
.cart__close {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
}
.cart__close span i {
  font-size: 1.1rem;
  background: #212245;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.cart__item-list {
  height: calc(100vh - 140px);
  overflow-y: scroll;
}
.cart__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
  width: 100%;
  height: 80px;
  background: #df2020;
}
.cart__bottom h6 {
  font-size: 1rem;
  color: #fff;
}
.cart__bottom h6 span {
  font-size: 1.3rem;
  font-weight: 600;
}
.cart__bottom button {
  border: none;
  padding: 4px 20px;
  border-radius: 5px;
  background: #fff;
  color: #212245;
}
.cart__bottom button a {
  color: #212245;
  font-weight: 600;
}
.cart__bottom button a:hover {
  color: #df2020;
}
@media only screen and (max-width: 576px) {
  .cart {
    width: 300px !important;
  }
}
